{% extends "base.html" %}
{% block content %}

<div class="row">

    <div class="col">
        <p><strong>User</strong></p>
        <select class="form-control" id="user">
            {% for (user_full, user) in users %}
            <option value="{{ user_full }}">{{ user }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <p><strong>Record Type</strong></p>
        <select class="form-control" id="view">
            <option value="sleep">Sleep</option>
            <option value="heart_rate">Heart Rate</option>
            <option value="stress">Stress</option>
            <option value="blood_oxygenation">Blood Oxygenation</option>
        </select>
    </div>

    <div class="col">
        <p><strong>Status</strong></p>
        <div class="circle-loader load-complete">
            <div class="checkmark draw" style="display: block;"></div>
        </div>
    </div>
</div>

<div id="status-message" style="margin: 5px; height: 20px;">
</div>

<br/>
<div class="row">
    <div class="c-chart-wrapper" style="width:97%" id="visualization">
    </div>
</div>

<script>

$('#user').on('change', function() {
    toggle_spinner();
    $.ajax({
        url: "/update_view",
        type: "GET",
        contentType: 'application/json;charset=UTF-8',
        data: {
            'user': document.getElementById('user').value,
            'view': document.getElementById('view').value
        },
        dataType:"json",
        success: function(data) {
            Plotly.react('visualization', data);
            set_status_text((data.data[0].y.length).toLocaleString("en-US") + " records loaded.");
            toggle_spinner();
        },
        error: function() {
            set_status_text("❌ An error occurred (probably a missing record, try another User or Record Type).");
            toggle_spinner();
        }
    });
})

$("#view").on("change", function() {
    toggle_spinner();
    $.ajax({
        url: "/update_view",
        type: "GET",
        contentType: "application/json;charset=UTF-8",
        data: {
            "user": document.getElementById("user").value,
            "view": document.getElementById("view").value
        },
        dataType: "json",
        success: function(data) {
            Plotly.react('visualization', data);
            set_status_text((data.data[0].y.length).toLocaleString("en-US") + " records loaded.");
            toggle_spinner();
        },
        error: function() {
            set_status_text("❌ An error occurred (probably a missing record, try another User or Record Type).");
            toggle_spinner();
        }
    });
})

</script>


<script>
    var graph = {{plot | safe}};
    Plotly.newPlot('visualization', graph);
</script>
{% endblock %}